
<!DOCTYPE html>
<html lang="he">
<head>
</head>
<body ng-app="pelecardApp" ng-controller="ctrlTransact">
   <div ng-init="res=@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Res)"></div>
    <script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/Angular/Passkol/Search/ctrlTransact.js"></script>
</body>
</html>