@inherits System.Web.Mvc.WebViewPage
<script type="text/ng-template" id="audioPlayer.template">
    <div class="player-content-progress cursor-pointer" ng-click="timelineClicked($event)">
        <div class="player-content-progress-bar" ng-style="progresWidth">
            <span class="player-content-progress-cursor cursor-pointer"></span>
        </div>
    </div>
</script>