@inherits System.Web.Mvc.WebViewPage
<script type="text/ng-template" id="fileInput.template">
    <div class="fileinput">
        <span ng-bind="file.name"></span>
        <span class="glyphicon glyphicon-circle-arrow-up cursor-pointer"></span>
        <input autocomplete="off" type="file" accept="{{type}}">
    </div>
</script>