@using PaskolProd.Views.Helpers
@{
    ViewBag.Title = "יצירת מוזיקה מקורית";
    Layout = "~/Views/Shared/_ArtistLayout.cshtml";
}

<div ng-controller="ctrlAuctionArtist">   
    <div class="container-fluid container-innercontent2" ng-hide="sketchMode">
        <div class="innercontent">
            <ol class="breadcrumb">
                <li><a href="/">עמוד הבית</a></li>
                <li><a href="/">האיזור האישי </a></li>
                <li class="active">יצירת מוזיקה מקורית </li>
            </ol>
            <div class="row editprofile2">
                <div class="col-lg-12 col-md-12 col-md-12 padding1">
                    <h1> יצירת מוזיקה מקורית</h1>
                    <label class="mycheckbox"><input autocomplete="off" ng-change="participateInAuctionToggele(WantToParticipate)" ng-model="WantToParticipate" type="checkbox" ng-init="WantToParticipate= @(Model ? "true" : "false")"><i></i></label>רוצה ליצור מוזיקה מקורית במסגרת "פסקול קורא"<br /><br />
                    אנחנו שמחים לייצר עבורך הזדמנויות נוספות ולאפשר לך ליצור מוסיקה מקורית עבור רוכשי התוכן.<br />
                    במידה ובחרת ליצור מוזיקה מקורית על פי דרישה. נשלח לך דואר אלקטרוני כאשר תפתח דרישה ע"י רוכש תוכן.<br />
                    <!--מציג 30 יום מסיום המכרז-->
                    <table class="table searchresults" ng-if="WantToParticipate">
                        <thead>
                            <tr>
                                <th>
                                    שם המכרז
                                </th>
                                <th>
                                    תאריך הפתיחה
                                </th>
                                <th>
                                    תאריך סיום
                                </th>
                                <th>
                                    תאריך בחירת זוכה
                                </th>
                                <th>
                                    סטטוס
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="a in allAuctionsForArtist" class="selectable">
                               <td><b>{{a.AuctionName}}</b></td>
                               <td>{{a.OpenDate}}</td>
                               <td>{{a.CloseDate}}</td>
                               <td>{{a.PickWinnerDate}}</td>
                               <td ng-if="a.Won" class="">זכית!</td>
                               <td ng-if="!a.Won" ng-class="{'actionOpen': a.AuctionStatus == 'פתוח'}">{{a.AuctionStatus}}</td>
                               <td ng-if="!a.Won" style="width:20px">
                                    <button ng-if="a.SketchSent" class="btnGrey btn btnclassic">נשלח</button>
                                    <button ng-if="!a.SketchSent" class="btnBlue btn btnclassic" ng-click="getAuction(a.Id)">שלח סקיצה</button>
                               </td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-innercontent2" ng-show="sketchMode">
        <div class="innercontent">
            <ol class="breadcrumb">
                <li><a href="~/">עמוד הבית</a></li>
                <li><a href="/">האיזור האישי </a></li>
                <li><a href="#" ng-click="sketchMode = false">יצירת מוזיקה מקורית </a></li>
                <li><a href="#">שליחת סקיצה</a></li>
            </ol>
            <div class="row editprofile2">
                <div class="col-lg-12 col-md-12 col-md-12 padding1">
                    <h1> יצירת מוזיקה מקורית</h1>
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>מענה מאמן</h2>
                        </div>
                        <div class="col-lg-6">
                            <h2>דרישות הלקוח</h2>
                        </div>
                    </div>
                   
                    <div class="row">
@using (Html.BeginForm("UploadSketch", "Auction", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
                        <div class="col-lg-3">
                            <input autocomplete="off" type="hidden" name="AuctionId" value="{{requirments.AuctionId}}"/>
                        </div>
                        <div class="col-lg-3">
                            <p class="requirementsP">העלה קובץ MP3</p>
                            <div class="fileinput">
                                <span></span>
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                <input autocomplete="off" type="file" value="" name="MP3Upload">
                            </div>

                            <p class="requirementsP">העלה קובץ WAV</p>
                            <div class="fileinput">
                                <span></span>
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                <input autocomplete="off" type="file" name="WAVUpload">
                            </div>
                            <p class="requirementsP">שם הסקיצה</p>
                            <input autocomplete="off" name="name" class="form-control greyinput"/>
                            <p class="requirementsP">הערות</p>
                            <textarea name="ArtistNote" class="form-control greyinput textarea3"></textarea>
                            <button class="bigsubmit btn" type="submit">שלח </button>

                        </div>
                        <div class="col-lg-3">
                            <p class="requirementsP">תקציב</p>
                            <p>{{requirments.Budget}}</p>

                            <p class="requirementsP">איש קשר</p>
                            <p>{{requirments.ContactMan}}</p>

                            <p class="requirementsP">טלפון</p>
                            <p>{{requirments.Phone}}</p>

                            <p class="requirementsP">דוא"ל</p>
                            <p>{{requirments.Email}}</p>
                            <p class="requirementsP">הערות</p>
                            <p>{{requirments.Notes}}</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="requirementsP">שימוש</p>
                            <p>{{requirments.Using}}</p>

                            <p class="requirementsP">לוח זמנים</p>
                            <p>{{requirments.Open}} - {{requirments.End}}</p>

                            <p class="requirementsP">משך המוזיקה הנדרש</p>
                            <p>{{requirments.MusicLength | time}}</p>

                            <p class="requirementsP">מאפייני המוזיקה</p>
                            <p>{{requirments.MusicProperties}}</p>
                        </div>
}
                    </div>
                    <div style="margin-bottom:20px"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="OpenAuctionModal" class="modal fade" role="dialog">
        <div class="modal-dialog passkol-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">צור מכרז</h4>
                </div>
                <div class="modal-body auction">
                    <div ng-show="newAuctoinSucceeded" class="thanksNewAuction">
                        <h2>תודה שנרשמת</h2>
                        כעת נחפש עבורך אמן מתאים שיוכל ליצור עבורך את המוזיקה
                        ונעדכן אותך באמצעות דואר אלקטרוני בקרוב
                    </div>
                    <form name="NewAuction" ng-hide="newAuctoinSucceeded" ng-submit="openNewAuction()">
                        <input autocomplete="off" id="antiForgeryToken" type="hidden" ng-model="antiForgeryToken" ng-init="antiForgeryToken='@AjaxAFToken.GetAntiForgeryToken()'" />
                        <div class="row auction2">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <p class="p3">שם שימוש</p>
                                <input autocomplete="off" type="text" class="form-control greyinput input2" value="" ng-model="newAuction.UsingName">
                                <div class="icon-addon addon-lg">
                                    <p class="p3">שם פרוייקט</p>
                                    <input autocomplete="off" style="height:32px" type="text" name="ProjectName" class="form-control greyinput input2"
                                          ng-required="true" ng-model="newAuction.AuctionName">
                                    <i class="fa fa-exclamation-circle" rel="tooltip" title="חובה להזין שם פרויקט" data-placement="top"
                                       ng-show="NewAuction.ProjectName.$invalid"></i>
                                </div>
                                @*<p class="p3">שם פרוייקט</p>
                                <input autocomplete="off" type="text" class="form-control greyinput input2" value="" ng-required="" ng-model="newAuction.AuctionName">*@
                                <div class="dater">
                                    <p>עבודה על הפרויקט מתאריך</p>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:31" ng-model="newAuction.startDay"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value="">יום</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:12" ng-model="newAuction.startMonth"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> חודש</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:2016:2026" ng-model="newAuction.startYear"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> שנה</option>
                                    </select>
                                    <input autocomplete="off" type="hidden" name="OpenDate" 
                                           value="{{newAuction.startYear + '/' + newAuction.startMonth + '/' + newAuction.startDay}}"/>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="dater dater2">
                                    <p>עד תאריך</p>
                                    <select ng-required="true" ng-options="n for n in [] | range:2016:2026" ng-model="newAuction.endYear"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> שנה</option>
                                    </select>

                                    <select ng-required="true" ng-options="n for n in [] | range:1:12" ng-model="newAuction.endMonth"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> חודש</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:31" ng-model="newAuction.endDay"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value="">יום</option>
                                    </select>
                                    <input autocomplete="off" type="hidden" name="EndTime"
                                           value="{{newAuction.endYear + '/' + newAuction.endMonth + '/' + newAuction.endDay}}" />
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="dater">
                                    <p>הגשת הסקיצה וסגירת המכרז עד</p>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:31" ng-model="newAuction.actionEndDay"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value="">יום</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:12" ng-model="newAuction.actionEndMonth"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> חודש</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:2016:2026" ng-model="newAuction.actionEndYear"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> שנה</option>
                                    </select>
                                    <input autocomplete="off" type="hidden" name="CloseAuctoinDate"
                                           value="{{newAuction.actionEndYear + '/' + newAuction.actionEndMonth + '/' + newAuction.actionEndDay}}" />
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="dater">
                                    <p>בחירת המוזיקה "זוכת המכרז"</p>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:31" ng-model="newAuction.pickWinnerDay"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value="">יום</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:1:12" ng-model="newAuction.pickWinnerMonth"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> חודש</option>
                                    </select>
                                    <select ng-required="true" ng-options="n for n in [] | range:2016:2026" ng-model="newAuction.pickWinnerYear"
                                            style="padding:0px;" class="form-control greyinput selector5">
                                        <option value=""> שנה</option>
                                    </select>
                                    <input autocomplete="off" type="hidden" name="PickWinnerDate"
                                           value="{{newAuction.pickWinnerYear + '/' + newAuction.pickWinnerMonth + '/' + newAuction.pickWinnerDay}}" />
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <p class="p5">מאפייני המוזיקה</p>
                                <textarea class="form-control greyinput textarea4" ng-model="newAuction.MusicProperties"></textarea>
                                <a href="#" class="btn reset3" data-dismiss="modal" style="margin-top:20px">ביטול</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="smallinput">
                                    <p>משך המוזיקה הנדרש</p>
                                    <input autocomplete="off" type="text" class="form-control greyinput input2" value="" ng-model="newAuction.MusicLength">
                                </div>
                                <div class="smallinput2">
                                    <div class="icon-addon addon-lg">
                                        <p>תקציב</p>
                                        <input autocomplete="off" style="height:32px" type="text" name="Budget" class="form-control greyinput input2"  ng-pattern="/^[0-9]+$/"
                                               ng-model="newAuction.AuctionBudget">
                                        <i style="top:20px" class="fa fa-exclamation-circle" rel="tooltip" title="תקציב חייב להכיל מספר בלבד" data-placement="top"
                                           ng-show="NewAuction.Budget.$invalid"></i>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <p class="p3">איש קשר</p>
                                <input autocomplete="off" type="text" class="form-control greyinput input2" value="" ng-model="newAuction.ContactName">
                                <div class="icon-addon addon-lg">
                                    <p class="p3">טלפון</p>
                                    <input autocomplete="off" style="height:32px" type="text" name="Phone" class="form-control greyinput input2" ng-pattern="/^[0-9]+$/"
                                           ng-model="newAuction.ContactPhone">
                                    <i class="fa fa-exclamation-circle" rel="tooltip" title="מספר טלפון חייב להכיל ספרות בלבד" data-placement="top"
                                       ng-show="NewAuction.Phone.$invalid"></i>
                                </div>
                                <div class="icon-addon addon-lg">
                                    <p class="p3">דוא"ל</p>
                                    <input autocomplete="off" style="height:32px" type="email" name="Email" class="form-control greyinput input2" ng-pattern="/^[a-z]+[a-z0-9._]+&#64;[a-z]+\.[a-z.]{2,5}$/"
                                            ng-model="newAuction.ContactEmail">
                                    <i class="fa fa-exclamation-circle" rel="tooltip" title="אימייל לא תקין" data-placement="top"
                                       ng-show="NewAuction.Email.$invalid"></i>
                                </div>
                                @*<p class="p3">דוא"ל</p>
                                <input autocomplete="off" type="text" class="form-control greyinput input2" value="" ng-model="newAuction.ContactEmail">*@
                                <p class="p3">הערות</p>
                                <input autocomplete="off" type="text" class="form-control greyinput input2" value="" ng-model="newAuction.Notes">
                                <p class="p4"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label> <span>אני מעוניין שייצרו עבורי יצירה מקורית ולנהל תהליך הוגן בבחירת המוזיקאי. בלחיצה על אישור אמנים יתחילו לייצר סקיצה עבורי.</span></p>
                                <button type="submit" ng-disabled="NewAuction.$invalid"  class="btn confirm">אישור</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
