@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-innersearch3">
    <div class="innersearch">
        <h1 class="morepadding">אסף אמדורסקי</h1>
        <img alt="" class="artist" src="/TemplatesContent/images/artist.png">
    </div>
</div>
<div class="container-fluid container-innercontent2">
    <div class="innercontent">
        <ol class="breadcrumb">
			<li><a href="/">עמוד הבית</a></li>
            <li><a href="/">מצא מוזיקה</a></li>
            <li><a href="/">תוצאות חיפוש</a></li>
			<li class="active">איך זה עובד?</li>        
		</ol>
        <div class="artistinfo">
            <p>אסף אמדורסקי (נולד ב-30 בינואר 1971), הוא זמר, מוסיקאי, פזמונאי, מלחין, מעבד ומפיק מוזיקלי ישראלי.</p>
            <p>זוכה "פרס אופיר" בקטגוריית "המלחין הטוב ביותר". בנו של הזמר בני אמדורסקי.</p>
            <p>חבר להקת תערובת אסקוט. לאחר שסיים את לימודיו בבית הספר רימון, ויתר על שירותו הצבאי והחל את הקריירה המוזיקלית שלו בסוף שנות ה-80 בלהקת "תערובת אסקוט" שבה היה הסולן והגיטריסט לצד הבסיסט עמיר "ג'נגו" רוסיאנו והמתופף ירמי קפלן. הלהקה הוציאה בשנת 1991 אלבום אחד שנשא את שמה וזכה לביקורות טובות אך למכירות בינוניות. אמדורסקי כתב והלחין את רוב שירי האלבום יחד עם ג'נגו. אמדורסקי נחשב לחבר המוביל בלהקה, בין היתר בזכות היותו הסולן בלהיט "החדר האינטימי שלי". לאחר שהוציאה את אלבומה היחיד התפרקה הלהקה וחבריה פנו לקריירות סולו מצליחות, אם כי שונות בסגנונן.</p>
            <p class="tags2">תגיות נפוצות:</p>
            <p><strong>רוק, פופ אלקטרוני, מלחין לפי הזמנה, אמן מופיע</strong></p>
        </div>
    </div>
</div>
<div class="container-fluid container-player">
    <div class="player"></div>
</div>