@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-innersearch4">
    <div class="innersearch">
        <h1 class="morepadding">אמנים</h1>
    </div>
</div>
<div class="container-fluid container-innercontent2">
    <div class="innercontent">
        <ol class="breadcrumb">
			<li><a href="/">עמוד הבית</a></li>
			<li class="active">אמנים</li>        
		</ol>
            
        <div class="text-center subtitle">פסקול מאפשרת לך למכור <span>רישיון שימוש</span> ליצירות המוזיקליות שלך עבור שימושים מסחריים.</div>
        <h3 class="bigblueheading">איך זה עובד?</h3>
                
        <div class="row steps">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img alt="" src="~/Content/images/work1.png">
                <p>העלה את התוכן שלך למערכת פסקול והגדר את תנאי המכירה שלך.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/Content/images/steparrow.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img alt="" src="~/Content/images/work2.png">
                <p>התוכן ייחשף לרוכשי תוכן שיוכלו לרכוש את התוכן בהתאם לתנאים שלך.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/Content/images/steparrow.png">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img alt="" src="~/Content/images/work3.png">
                <p>קבל כסף עבור המכירה.</p>
            </div>
        </div>
                
        <a href="#" class="btn uploadoption2">העלה תוכן למערכת פסקול<span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                
        <div class="row uploadoptions">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="artistlink">
                    שאלות? <a href="#">לחץ לעמוד שאלות ותשובות</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
	            <div class="artistlink">
		            רוצה ליצור מוזיקה מקורית עבור רוכש התוכן? <a href="#">הקלק</a>
                </div>
            </div>
        </div>
    </div>
</div>