@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-innersearch7">
    <div class="innersearch">
        <h1>שאלות ותשובות</h1>
        <h2>יש לך שאלה? יש לנו תשובה! אם לא תמצא אותה כאן, 
		<br>פשוט צור איתנו קשר ונחזור אליך מיד.</h2>
                
        <ul class="innermenu">
            <li class="active"><a href="#">נושאים כלליים</a></li>
            <li><a href="#">רוכשי מדיה</a></li>
            <li><a href="#">אמנים</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid container-innercontent2">
    <div class="innercontent faqcontent">
        <ol class="breadcrumb">
			<li><a href="/">עמוד הבית</a></li>
            <li><a href="/">נושאים כלליים</a></li>
			<li class="active">שאלות ותשובות</li>        
		</ol>
        <h2 class="faqh2">נושאים כלליים <a href="#" class="closeall">סגור הכל</a></h2>
        <h4 class="faqheading"><span class="faqnum">1</span> שאלה ראשונה <span class="glyphicon glyphicon-menu-up faqopen"></span></h4>
        <div class="collapseme">
            פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות. פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם. אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.
        </div>
        <h4 class="faqheading"><span class="faqnum">2</span> שאלה כלשהי <span class="glyphicon glyphicon-menu-up faqopen"></span></h4>
        <div class="collapseme">
            פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות. פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם. אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.
            <ul>
                <li>נקודה</li>
                <li>נקודה נקודה</li>
                <li>נקודה נקודה נקודה</li>
            </ul>
        </div>
        <h4 class="faqheading"><span class="faqnum">3</span> עוד שאלה <span class="glyphicon glyphicon-menu-up faqopen"></span></h4>
        <div class="collapseme">
            פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות. פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם. אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.
        </div>
        <h4 class="faqheading"><span class="faqnum">4</span> מדוע ולמה? <span class="glyphicon glyphicon-menu-up faqopen"></span></h4>
        <div class="collapseme">
            פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות. פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם. אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.
        </div>
        <h4 class="faqheading"><span class="faqnum">5</span> מתי ואיך? <span class="glyphicon glyphicon-menu-up faqopen"></span></h4>
        <div class="collapseme">
            פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות. פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם. אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.
        </div>
    </div>
</div>