@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-homesearch">
    <div class="homesearch">
        <a href="#" id="artistlogin">כניסת אמנים<span class="glyphicon glyphicon-menu-left"></span></a>
        <div id="homeheadings">
            <h1>ברוכים הבאים לפסקול</h1>
            <h2>עולם חדש של זכויות יוצרים במרחק הקלקה</h2>
        </div>
        <div class="row" id="megasearch">
            <div class="col-lg-1 col-md-1 col-sm-1">
	            <a href="#" class="megasearchbtn glyphicon glyphicon-search"></a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11" id="searches">
                <span><a href="#">&times;</a><span>פופ</span></span>
                <span><a href="#">&times;</a><span>מוזיקת עולם</span></span>
                <span><a href="#">&times;</a><span>רוק אלטרנטיבי</span></span>
                <span class="currentsearch">סק
                    <ul>
                        <li><a href="#">סקוטי</a></li>
                        <li><a href="#">סקסופון</a></li>
                        <li><a href="#">סקסי</a></li>
                        <li><a href="#">סקרנות</a></li>
                        <li><a href="#">סקוטי</a></li>
                        <li><a href="#">סקסופון</a></li>
                        <li><a href="#">סקסי</a></li>
                        <li><a href="#">סקרנות</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-homecontent">
    <div class="homecontent">
        <h3><a href="#">&times;</a> <span>ז'אנר</span></h3>
        <div class="filters">
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 1 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 2 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 3 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 4 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 5 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 6 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter2 filter2-blue"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 7 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 1 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 2 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 3 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 4 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 5 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 6 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter2 filter2-blue"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 7 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 1 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 2 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 3 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 4 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 5 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 6</span>
            <span class="filter2 filter2-blue"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 7 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 1 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 2 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 3</span>
            <span class="filter1"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 4 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 5 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label>ז'אנר 6</span>
            <span class="filter2 filter2-blue"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 7 <span class="glyphicon glyphicon-menu-up"></span></span>
            <div class="clearfix"></div>
        </div>
        <div class="text-center subtitle">פסקול הינה זירה לשיתוף <span>אמנים</span> המוכרים רישיון שימוש ליצירותיהם <span>ורוכשי תוכן</span> המחפשים יצירות עבור שימוש מסחרי.</div>
        <div class="row steps">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="images/step1.png">
                <p>האמן מעלה את היצירות המוזיקליות שלו ומגדיר את תנאי המכירה.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="images/steparrow.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="images/step2.png">
                <p>צוות פסקול מתייג את המוזיקה ומשייך אותה לתחומים ולקטגוריות רלוונטיות.</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="images/steparrow.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="images/step3.png">
                <p>רוכש התוכן מחפש תוכן רלוונטי מקטלוג פסקול ורוכש את הזכויות לשימוש בתוכן.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="images/steparrow.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="images/step4.png">
                <p>האמן מקבל את התשלום בעבור רישיון השימוש.</p>
            </div>
        </div>
        <a href="#" class="btn center-block register2">להרשמה <span>חינם</span> לחץ כאן</a>
    </div>
</div>