@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-innersearch8">
    <div class="remark">
        מעולה! ועכשיו העלה יצירות והתחל להופיע במנוע החיפוש של פסקול. דאג לתייג את היצירות כדי לשפר את הופעתם בתוצאות החיפוש.
    </div>
    <div class="innersearch">
        <h1>אסף אמדורסקי</h1>
        <h2>האזור האישי</h2>
                
        <ul class="innermenu2">
            <li class="active"><a href="#">עדכון פרופיל<span class="opac">1</span></a></li>
            <li><a href="#">היצירות שלי<span>2</span></a></li>
            <li><a href="#">דו"ח מכירות</a></li>
            <li><a href="#">יצירת מוזיקה מקורית</a></li>
            <li><a href="#">ניהול אישי</a></li>
            <li><a href="#">התחשבנות</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid container-innercontent2">
    <div class="innercontent">
		<div class="row editprofile">
			<div class="col-lg-4 col-md-4 col-md-4">
                <p>העלה תמונת פרופיל</p>
                <img alt="" src="images/profile.jpg" class="profileimage">
                <p>מספר הטלפון של איש הקשר</p>
                <input autocomplete="off" class="form-control greyinput input1" value="">
                <a href="#" id="togglemanager" class="btn">הוסף פרטי מנהל ראשי <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                <div class="manager">
                    <a href="#" class="bluelink pull-left">מחק מנהל</a>
                    <div class="clearfix"></div>
                    <div class="managerform">
                        <p>שם המנהל</p>
                        <input autocomplete="off" class="form-control greyinput input1" value="">
                        <p>טלפון המנהל</p>
                        <input autocomplete="off" class="form-control greyinput input1" value="">
                        <p>דוא"ל המנהל</p>
                        <input autocomplete="off" class="form-control greyinput input1" value="">
                        <p class="iagree"><label class="mycheckbox"><input autocomplete="off" type="checkbox" checked><i></i></label> <span>הנני מאשר/ת למנהל לייצג אותי ולנהל את פרופיל המשתמש שלי בפסקול</span></p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
			<div class="col-lg-1 col-md-1 col-md-1">
            </div>
			<div class="col-lg-7 col-md-7 col-md-7">
                <p>ביוגרפיה</p>
                <textarea class="form-control greyinput textarea1"></textarea>
                <p><label class="mycheckbox"><input type="checkbox" checked><i></i></label> רוצה ליצור מוזיקה מקורית עבור רוכשי תוכן במסגרת "פסקול קורא" <span class="glyphicon glyphicon-question-sign qmark"></span></p>
                <p><label class="mycheckbox"><input type="checkbox" checked><i></i></label> הנני מאשר/ת את <a href="#" class="bluelink" target="_blank">חוזה האמן שלי</a> <span class="glyphicon glyphicon-question-sign qmark"></span></p>
                <small class="small1">
                    לצורך פתיחת המשתמש, הנך נדרש לאשר את חוזה האמן שלך אצל חברת פסקול.
					<br>עבור כל יצירה חדשה שתעלה, יצורף נספח עבור היצירה המדוברת.
                </small>
                <button type="button" class="btn bigsubmit">העלה יצירות למערכת</button>
            </div>
		</div>
    </div>
</div>