@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-innersearch">
    <div class="innersearch">
        <h1>מצא מוזיקה</h1>
        <div class="row" id="megasearch2">
            <div class="col-lg-1 col-md-1 col-sm-1">
	            <a href="#" class="megasearchbtn2 glyphicon glyphicon-search"></a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11">
                <input autocomplete="off" type="text" class="form-control innersearchinput" value="" placeholder="חפש במאגר פסקול, הקלד מילות חיפוש או בחר מתוך הקבוצות שלהלן">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-innercontent">
    <div class="innercontent">
        <h3>קבוצות <small>(להצגת התגיות לחץ על הקבוצה המבוקשת)</small></h3>
        <div class="filters2">
            <span>ז'אנר 1</span>
            <span>ז'אנר 2</span>
            <span>ז'אנר 3</span>
            <span>ז'אנר 4</span>
            <span>ז'אנר 5</span>
            <span>ז'אנר 6</span>
            <span>ז'אנר 7</span>
            <span>ז'אנר 1</span>
            <span>ז'אנר 2</span>
            <span>ז'אנר 3</span>
            <span>ז'אנר 4</span>
            <span>ז'אנר 5</span>
            <span>ז'אנר 6</span>
            <span>ז'אנר 7</span>
            <span>ז'אנר 1</span>
            <span>ז'אנר 2</span>
            <span>ז'אנר 3</span>
            <span>ז'אנר 4</span>
            <span>ז'אנר 5</span>
            <span>ז'אנר 6</span>
            <span>ז'אנר 777</span>
            <div class="clearfix"></div>
        </div>
                
    </div>
</div>