@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}

<div class="container-fluid container-innersearch">
    <div class="innersearch">
        <h1>מצא מוזיקה</h1>
        <div class="row" id="megasearch2">
            <div class="col-lg-1 col-md-1 col-sm-1">
	            <a href="#" class="megasearchbtn glyphicon glyphicon-search"></a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11" id="searches">
                <span><a href="#">&times;</a><span>פופ</span></span>
                <span><a href="#">&times;</a><span>מוזיקת עולם</span></span>
                <span><a href="#">&times;</a><span>רוק אלטרנטיבי</span></span>
                <span class="currentsearch">סק
                    <ul>
                        <li><a href="#">סקוטי</a></li>
                        <li><a href="#">סקסופון</a></li>
                        <li><a href="#">סקסי</a></li>
                        <li><a href="#">סקרנות</a></li>
                        <li><a href="#">סקוטי</a></li>
                        <li><a href="#">סקסופון</a></li>
                        <li><a href="#">סקסי</a></li>
                        <li><a href="#">סקרנות</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-innercontent">
    <div class="innercontent">
        <h3><a href="#">&times;</a> <span>ז'אנר</span></h3>
        <div class="filters marginbottom60">
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 1 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter2 filter2-blue"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 2 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 3 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 4 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 5 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 6 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 7 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 8 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 9 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 10 <span class="glyphicon glyphicon-menu-down"></span></span>
            <div class="clearfix"></div>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 20</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 21</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 22</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 23</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 24</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 25</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 26</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 27</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 28</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 29</span>
            <div class="clearfix"></div>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 11</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 12</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 13</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 14</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 15</span>
            <div class="clearfix"></div>
        </div>
                
        <div class="tabletitle">
            <strong>3 יצירות</strong>
            <div class="pull-left">
                סדר לפי:
                <div class="selector selector2">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                    <span>אורך (מהקצר לארוך)</span>
                    <ul>
                        <li><a href="#">אורך (מהקצר לארוך)</a></li>
                        <li><a href="#">אורך (מהארוך לקצר)</a></li>
                        <li><a href="#">אופציה 3</a></li>
                        <li><a href="#">אופציה 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
                
        <table class="table searchresults">
            <thead>
                <tr>
                    <th>נגן</th>
                    <th>שם היצירה</th>
                    <th>אמן</th>
                    <th>BPM</th>
                    <th>אורך</th>
                    <th>החרגות</th>
                    <th>שיתוף</th>
                    <th>מועדפים</th>
                    <th>רכישה</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#" class="play fa fa-caret-right"></a></td>
                    <td class="bold">זוג משמיים</td>
                    <td>אסף אמדורסקי</td>
                    <td class="text-center">100</td>
                    <td>02:35</td>
                    <td><span class="glyphicon glyphicon-warning-sign warning-off"></span></td>
                    <td><span class="glyphicon glyphicon-share blackicon"></span></td>
                    <td><span class="glyphicon glyphicon-heart-empty blackicon"></span></td>
                    <td><span class="glyphicon glyphicon-shopping-cart blackicon"></span></td>
                </tr>
                <tr>
                    <td><a href="#" class="play fa fa-caret-right"></a></td>
                    <td class="bold">יקירתי <span class="new">חדש</span></td>
                    <td>אסף אמדורסקי</td>
                    <td class="text-center">76</td>
                    <td>05:35</td>
                    <td><span class="glyphicon glyphicon-warning-sign warning-on"></span></td>
                    <td><span class="glyphicon glyphicon-share blueicon"></span></td>
                    <td><span class="glyphicon glyphicon-heart blackicon"></span></td>
                    <td><span class="glyphicon glyphicon-shopping-cart blueicon"></span></td>
                </tr>
                <tr class="opentr1">
                    <td><img alt="" src="images/ant.png"></td>
                    <td class="bold">פגישה לאין קץ <a href="#" class="glyphicon glyphicon-triangle-top closetr"></a></td>
                    <td>אסף אמדורסקי</td>
                    <td class="text-center">99</td>
                    <td>12:35</td>
                    <td><span class="glyphicon glyphicon-warning-sign warning-on"></span></td>
                    <td><span class="glyphicon glyphicon-share blackicon"></span></td>
                    <td><span class="glyphicon glyphicon-heart blueicon"></span></td>
                    <td><span class="glyphicon glyphicon-shopping-cart blackicon"></span></td>
                </tr>
                <tr class="opentr2">
                    <td></td>
                    <td colspan="7">
                        <p class="warning2"><span class="glyphicon glyphicon-warning-sign warning-on"></span> <span>לא לשימוש בתעשיית הבשר</span></p>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 searchdetails">
                                <p><label>שם בעברית:</label> יקירתי</p>
                                <p><label>שם באנגלית:</label> Yakirati</p>
                                <p><label>פורמט:</label> WAV, MP3</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 searchdetails">
                                <p><label>כותב:</label> אסף אמדורסקי</p>
                                <p><label>מלחין:</label> אסף אמדורסקי</p>
                                <p><label>מבצע:</label> אסף אמדורסקי</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 searchdetails">
                                <p><label>מילים:</label> 
                                    <span>יקירתי, יקירתי, 
                                        <br>חמקתי מבין זרועותייך 
                                        <br>שלושה שבועות שהתארכו עד למאוד 
                                        <br>אך במהרה אשוב אלייך
                                        <a href="#" class="readmore">קרא עוד <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="tags">
                            <label>תיוגים:</label>
                            <span>תיוג א'</span>
                            <span>תיוג ב'</span>
                            <span>תיוג גא'</span>
                            <span>תיוג תיוג תיוג</span>
                            <span>תיוג א'</span>
                            <span>תיוג ב'</span>
                            <span>תיוג גא'</span>
                            <span>תיוג תיוג תיוג</span>
                            <span>תיוג א'</span>
                            <span>תיוג ב'</span>
                            <span>תיוג גא'</span>
                            <span>תיוג תיוג תיוג</span>
                            <span>תיוג א'</span>
                            <span>תיוג ב'</span>
                            <span>תיוג גא'</span>
                            <span>תיוג תיוג תיוג</span>
                            <span>תיוג א'</span>
                            <span>תיוג ב'</span>
                            <span>תיוג גא'</span>
                            <span>תיוג תיוג תיוג</span>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
                
        <ul class="pagination2">
            <li><a href="#" class="glyphicon glyphicon-chevron-left"></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" class="glyphicon glyphicon-chevron-right"></a></li>
        </ul>
                
    </div>
</div>