@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}
<div class="container-fluid container-innersearch">
    <div class="innersearch">
        <h1>מצא מוזיקה</h1>
        <div class="row" id="megasearch2">
            <div class="col-lg-1 col-md-1 col-sm-1">
	            <a href="#" class="megasearchbtn2 glyphicon glyphicon-search"></a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11">
                <input autocomplete="off" type="text" class="form-control innersearchinput" value="" placeholder="חפש במאגר פסקול, הקלד מילות חיפוש או בחר מתוך הקבוצות שלהלן">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-innercontent">
    <div class="innercontent">
        <h3><a href="#">&times;</a> <span>ז'אנר</span></h3>
        <div class="filters">
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 1 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter2 filter2-blue"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 2 <span class="glyphicon glyphicon-menu-up"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 3 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 4 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 5 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 6 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 7 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 8 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 9 <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 10 <span class="glyphicon glyphicon-menu-down"></span></span>
            <div class="clearfix"></div>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 20</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 21</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 22</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 23</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 24</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 25</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 26</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 27</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 28</span>
            <span class="filter2"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 29</span>
            <div class="clearfix"></div>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 11</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 12</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 13</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 14</span>
            <span class="filter3"><label class="mycheckbox"><input autocomplete="off" type="checkbox"><i></i></label>ז'אנר 15</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
