@{
    Layout = "/Views/Shared/_TemplatesLayout.cshtml";
}


<div class="container-fluid container-innersearch8">
    <div class="remark">
        מעולה! ועכשיו העלה יצירות והתחל להופיע במנוע החיפוש של פסקול. דאג לתייג את היצירות כדי לשפר את הופעתם בתוצאות החיפוש.
    </div>
    <div class="innersearch">
        <h1>אסף אמדורסקי</h1>
        <h2>האזור האישי</h2>
                
        <ul class="innermenu2">
            <li><a href="#">עדכון פרופיל<span class="opac">1</span></a></li>
            <li class="active"><a href="#">היצירות שלי<span>2</span></a></li>
            <li><a href="#">דו"ח מכירות</a></li>
            <li><a href="#">יצירת מוזיקה מקורית</a></li>
            <li><a href="#">ניהול אישי</a></li>
            <li><a href="#">התחשבנות</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid container-innercontent2">
    <div class="innercontent">
		<div class="row editprofile editprofile2">
			<div class="col-lg-3 col-md-3 col-md-6 padding1">
                <p>העלה קובץ MP3</p>
                <div class="fileinput">
                    <span></span>
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <input autocomplete="off" type="file" value="">
                </div>
                <p>העלה קובץ WAV</p>
                <div class="fileinput">
                    <span></span>
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <input autocomplete="off" type="file" value="">
                </div>
                <p>שם היצירה בעברית</p>
                <input autocomplete="off" type="text" class="form-control greyinput" value="">
                <p>שם היצירה באנגלית</p>
                <input autocomplete="off" type="text" class="form-control greyinput" value="">
                <p>אורך היצירה (בדקות)</p>
                <input autocomplete="off" type="text" class="form-control greyinput2" value=""><span class="colon">:</span><input autocomplete="off" type="text" class="form-control greyinput2" value="">
                <p>BPM</p>
                <input autocomplete="off" type="text" class="form-control greyinput2" value="">
                <p class="bottomremark"><span class="glyphicon glyphicon-asterisk asterisk"></span> שדות חובה</p>
            </div>
			<div class="col-lg-3 col-md-3 col-md-6 padding1">
                <p>כותב <span class="glyphicon glyphicon-asterisk asterisk"></span></p>
                <input autocomplete="off" type="text" class="form-control greyinput" value="">
                <p>מלחין <span class="glyphicon glyphicon-asterisk asterisk"></span></p>
                <input autocomplete="off" type="text" class="form-control greyinput" value="">
                <p>מבצע <span class="glyphicon glyphicon-asterisk asterisk"></span></p>
                <input autocomplete="off" type="text" class="form-control greyinput" value="">
                <p>מילים (מומלץ להעתיק ולהדביק)</p>
                <textarea class="form-control greyinput textarea2"></textarea>
            </div>
			<div class="col-lg-3 col-md-3 col-md-6 padding1">
                <p>ציין מי שותף בזכויות וקבע חלוקה</p>
                <div class="percentages">
                    <small>מו"ל 1</small>
                    <div class="row rowp">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <a href="#" class="plus">+</a>
                            <a href="#" class="remove-off">&times;</a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input autocomplete="off" type="text" class="form-control whiteinput" value="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="percent">20%</span>
                        </div>
                    </div>
                    <small>כותב 1</small>
                    <div class="row rowp">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <a href="#" class="plus">+</a>
                            <a href="#" class="remove-on">&times;</a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input autocomplete="off" type="text" class="form-control whiteinput" value="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="percent">18%</span>
                        </div>
                    </div>
                    <small>מו"ל 1</small>
                    <div class="row rowp">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <a href="#" class="plus">+</a>
                            <a href="#" class="remove-off">&times;</a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input autocomplete="off" type="text" class="form-control whiteinput" value="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="percent">20%</span>
                        </div>
                    </div>
                    <small>כותב 1</small>
                    <div class="row rowp">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <a href="#" class="plus">+</a>
                            <a href="#" class="remove-on">&times;</a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input autocomplete="off" type="text" class="form-control whiteinput" value="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="percent">18%</span>
                        </div>
                    </div>
                    <small>מו"ל 1</small>
                    <div class="row rowp">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <a href="#" class="plus">+</a>
                            <a href="#" class="remove-off">&times;</a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input autocomplete="off" type="text" class="form-control whiteinput" value="">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span class="percent">20%</span>
                        </div>
                    </div>
                    <div class="row rowp2">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="#">אפס</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#">עדכן</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            100%
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-md-6 padding1">
                <p>החרגות <span class="glyphicon glyphicon-question-sign qmark"></span></p>
                <textarea class="form-control greyinput textarea3"></textarea>
                <p>תיוג היצירה</p>
                <div class="tagscont">
                    <span>תיוג</span>
                    <span>תיוג ארוך מאוד</span>
                    <span>תיוג נוסף</span>
                    <span>תיוג ארוך מאוד</span>
                    <span>תיוג</span>
                    <span>תיוג נוסף</span>
                </div>
                <div class="row bottombuttons">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a href="#">שמור</a>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="#">שמור והעלה יצירה נוספת</a>
                    </div>
                </div>
            </div>
		</div>
    </div>
</div>