@{
    Layout = "~/Views/Shared/_TemplatesLayout.cshtml";
}

<div>
    <a href="/HtmlTemplates/artist">artist</a>
    <br />
    <a href="/HtmlTemplates/artists">artists</a>
    <br />
    <a href="/HtmlTemplates/buying_content">buying_content</a>
    <br />
    <a href="/HtmlTemplates/contact">contact</a>
    <br />
    <a href="/HtmlTemplates/faq">faq</a>
    <br />
    <a href="/HtmlTemplates/how_it_works">how_it_works</a>
    <br />
    <a href="/HtmlTemplates/index">index</a>
    <br />
    <a href="/HtmlTemplates/indexMenu1">indexMenu1</a>
    <br />
    <a href="/HtmlTemplates/indexMenu2">indexMenu2</a>
    <br />
    <a href="/HtmlTemplates/modals">modals</a>
    <br />
    <a href="/HtmlTemplates/nomobile">nomobile</a>
    <br />
    <a href="/HtmlTemplates/profile">profile</a>
    <br />
    <a href="/HtmlTemplates/search1">search1</a>
    <br />
    <a href="/HtmlTemplates/search2">search2</a>
    <br />
    <a href="/HtmlTemplates/search3">search3</a>
    <br />
    <a href="/HtmlTemplates/search4">search4</a>
    <br />
    <a href="/HtmlTemplates/upload_song">upload_song</a>
</div>