@{
    ViewBag.Title = "רכישת תוכן";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-innersearch5">
    <div class="innersearch">
        <h1 class="morepadding">רכישת תוכן</h1>
    </div>
</div>
<div class="container-fluid container-innercontent2">
    <div class="innercontent">
        <ol class="breadcrumb">
			<li><a href="/">עמוד הבית</a></li>
			<li class="active">רכישת תוכן</li>        
		</ol>
            
        <div class="text-center subtitle">פסקול היא הראשונה שאספה את מיטב היצירה המוזיקאלית המקומית והיוצרים הישראליים למערכת אחת.</div>
        <h3 class="bigblueheading">איך זה עובד?</h3>
                
        <div class="row steps">
            <div class="col-lg-3 col-md-3 col-sm-3">

                <img alt="" src="~/Content/images/buying1.png">
                <p>חפש את התוכן הרלוונטי מקטלוג הכולל אין ספור יצירות מוזיקליות.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/Content/images/steparrow.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img alt="" src="~/Content/images/buying2.png">
                <p>בחר את סוג הרישיון ורכוש אותו באמצעות המערכת.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/Content/images/steparrow.png">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img alt="" src="~/Content/images/buying3.png">
                <p>השמע לעולם את התוכן שלך.</p>
            </div>
        </div>
                
        <a href="/search">
            <div class="row" id="megasearch3">
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <span class="megasearchbtn2 glyphicon glyphicon-search"></span>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11">
                    <input autocomplete="off" type="text" class="form-control innersearchinput cursor-pointer" value="" placeholder="חפש במאגר פסקול, הקלד מילות חיפוש">
                </div>
            </div>
        </a>
        <div class="row uploadoptions">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="artistlink">
                    שאלות? <a href="/Info/faq#/why_passkol_buy?tab=%D7%A8%D7%95%D7%9B%D7%A9%D7%99%20%D7%9E%D7%93%D7%99%D7%94">לחץ לעמוד שאלות ותשובות</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="artistlink">
                    רוצה שיצרו עבורך מוזיקה מקורית? <a href="/Info/faq#/auction_work_help_buy?tab=%D7%A8%D7%95%D7%9B%D7%A9%D7%99%20%D7%9E%D7%93%D7%99%D7%94">הקלק</a>
                </div>
            </div>
        </div>
    </div>
</div>