@using Infrastructure.Configuration
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "שאלות ותשובות";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<faq>
    <div class="container-fluid container-innersearch7">
        <div class="innersearch">
            <h1>שאלות ותשובות</h1>
            <h2>
                יש לך שאלה? יש לנו תשובה! אם לא תמצא אותה כאן,
                <br>פשוט צור איתנו קשר ונחזור אליך מיד.
            </h2>

            <ul class=" innermenu" ng-init="tab ='נושאים כלליים'">
                <li ng-class="{active:tab==='נושאים כלליים'}"><a class="cursor-pointer" ng-click="tab ='נושאים כלליים'">נושאים כלליים</a></li>
                <li ng-class="{active:tab==='רוכשי מדיה'}"><a class="cursor-pointer" ng-click="tab ='רוכשי מדיה'">רוכשי מדיה</a></li>
                <li ng-class="{active:tab==='אמנים'}"><a class="cursor-pointer" ng-click="tab ='אמנים'">אמנים</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid container-innercontent2">
        <div class="innercontent faqcontent">
            <ol class="breadcrumb">
                <li><a href="/">עמוד הבית</a></li>
                <li><a href="/Info/faq">שאלות ותשובות</a></li>
                <li class="active">{{tab}}</li>
            </ol>
            <h2 class="faqh2">{{tab}}<a href="#" class="closeall">סגור הכל</a></h2>
            <article ng-show="tab === 'נושאים כלליים'">
                <h4 class="faqheading"><span class="faqnum">1</span> מה זה פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות.</p>
                    <p>פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם.</p>
                    <p>אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">2</span> למה לעבוד עם פסקול? <span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>
                            <strong>פסקול נולדה על מנת לאפשר לאמנים למקסם את הפוטנציאל המסחרי שיש במוזיקה שלהם.</strong>  יש לך מוזיקה ששודרה ברדיו ומעולם לא נכנסה לפרסומת? או מוזיקה איכותית בתיקיות המחשב שמעולם לא יצאה לאור? אנחנו כאן כדי לגרום לזה לקרות. פסקול איננה ספריית מוזיקה גנרית. אנו עובדים באופן פרטני ומתאימים מוזיקה לכל פרויקט.
                        </li>
                        <li>
                            <strong>לקוחות פסקול</strong> מגיעים מתחומים רבים ומגוונים: חברות פרסום, חברות הפקה לטלוויזיה, לקולנוע, לאינטרנט, תיאטראות וכו'.
                        </li>
                        <li>
                            בנוסף, פסקול מאתרת את האמנים המתאימים להלחנת <strong>מוזיקה מקורית לפרויקטים</strong> לפי דרישה.
                        </li>
                        <li>
                            <strong><a href="/Info/Contact" target="_blank">צוות פסקול</a> מורכב כולו מאנשים עם ניסיון רב והבנה בעולם המוזיקה</strong>, בצד המשפטי, בהיבט הניהולי/מסחרי, בשיווק ומכירות, בהבנת צרכי הלקוחות ובבניית מערכות מידע וממשקים אינטרנטיים בתחום זה.
                        </li>
                        <li>
                            <strong>יחס אישי</strong> - אנחנו מבינים את דרישות השוק ואת צרכי הלקוחות שלנו. אנחנו גם מכירים היטב את צדו של היוצר בתהליך. צוות פסקול מלווה כל עסקה עד לסגירה מוצלחת, מקצועית ונעימה  לכל הצדדים. צוות פסקול זמין ונותן מענה מהיר ויעיל תוך שעות.
                        </li>
                        <li>
                            <strong>מנוע החיפוש שבנינו חכם וקל לתפעול המאפשר ללקוחותינו לאתר את המוזיקה המתאימה לפרויקט שלהם.</strong> הוא נבנה במיוחד על מנת להתאים לצרכים המגוונים של הלקוחות, ומאפשר איתור איכותי.
                        </li>
                        <li>
                            <strong>הזדמנות שווה</strong> - המוזיקה של כל יוצר מקבלת הזדמנות שווה, ונבחרת באופן אובייקטיבי לפי התאמת מאפייניה לדרישות הלקוח.
                        </li>
                        <li>
                            אנחנו עובדים בצורה פשוטה, יעילה, שקופה והוגנת.
                        </li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">3</span> איך ניתנים הרישיונות במוזיקה בפסקול? <span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>
                            שימוש במוזיקה הינו תוצאה של מתן רישיונות. מוסיקה שאתה שומע בסרט, משחק מחשב, פרסומת, תכנית טלוויזיה, פרזנטציה, אתר אינטרנט, הצגה או כל מופע במה אחר מתאפשרת כתוצאה ממתן רישיון המגדיר את היקף השימוש ואת התמורה.
                        </li>
                        <li>
                            פסקול מאפשרת ללקוחותיה לקבל רישיונות "און ליין" באתר. במקרה של שימושים מורכבים יותר במוזיקה, מעניק צוות פסקול טיפול אישי ומלווה כל עסקה.
                        </li>
                        <li>
                            השימוש בכל היצירות המופיעות בפסקול מאושר מראש ובכתב מול האמנים (pre clearance),  <a href="/File/PreviewPurchaseAgreement" target="_blank">לצפייה בהסכם המסדיר את אישור השימוש ביצירות</a>.
                        </li>
                        <li>
                            <strong>החרגה </strong>- כל יוצר מקבל אפשרות להחריג מראש את השימושים שאינו מעוניין שהיצירות שלו יקושרו אליהם. כך ,מחד היוצר שומר על ערכיו תוך כדי מסחור המוזיקה שלו ויש לו השפעה מוחלטת לגבי התחומים להם המוזיקה לא תקושר. מאידך, בזכות האישור מראש שהיוצר נותן לנו פסקול יכולה לתת מענה מקצועי מהיר ויעיל לכל פרויקט.
                        </li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">4</span>אילו פורמטים של קבצי מוזיקה ניתן להעלות למערכת פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    מערכת פסקול תומכת בפורמטים המקובלים בתעשייה. פורמט WAV ופורמט MP3.
                </div>
                <h4 class="faqheading"><span class="faqnum">5</span> איזה דפדפן עובד הכי טוב עם האתר?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    אתר פסקול נגיש בכל דפדפן שכיח (אקספלורר, כרום, מוזילה וכו').
                </div>
                <h4 class="faqheading"><span class="faqnum">6</span> אני מייצג כמה אמנים , האם יש דרך לנהל מספר פרופילים דרך חשבון אחד?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כן, במידה ותזדקק צוות פסקול ייצור לך 
                    @if (!User.Identity.IsAuthenticated) {
                        <a href="#" data-toggle="modal" data-target="#RegsterModal" ng-click="register.Type = userTypes.ArtistMgr">מנוי מותאם לניהול מספר אמנים.</a>
                    }
                    else
                    {
                        <span> מנוי מותאם לניהול מספר אמנים</span>
                    }

                </div>
                <h4 class="faqheading"><span class="faqnum">7</span>האם פסקול דורשים קודי ISRC על מנת להירשם?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    לא, אנחנו לא.
                </div>
                <h4 class="faqheading"><span class="faqnum">8</span>האם יש ליוצר את היכולת לאשר את כל העסקאות במוזיקה שלו,  לפני סגירתן?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    לא. הרעיון בפסקול הוא רפרטואר מאושר לשימוש מראש ועל ידי כך מתן מענה מהיר ויעיל ללקוחות המשתמשים במוזיקה. פנייה ליוצר בכל עסקה לא תאפשר זאת ותשאיר את השיטה המסובכת והלא יעילה הקיימת כיום.
                </div>
            </article>
            <article ng-show="tab === 'רוכשי מדיה'">
                <h4 class="faqheading"><span class="faqnum">1</span>מה זה פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות.</p>
                    <p>פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם.</p>
                    <p>
                        אנחנו הגוף הראשון בישראל שקודם כל פונה לאמנים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב
                        וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.
                    </p>
                </div>
                <h4 class="faqheading" id="why_passkol_buy"><span class="faqnum">2</span>למה כדאי לעבוד עם פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>
                        פסקול היא הראשונה שאספה את מיטב היצירה המוזיקאלית המקומית והיוצרים הישראליים

                        למערכת אחת. כל הרפרטואר הקיים במערכת מאושר מראש על ידי בעלי הזכויות לשימוש <strong>מיידי</strong> מסחרי.
                    </p>
                    <p>
                        פסקול מנפיקה רישיונות שימוש במוזיקה לפרסומות, סרטים, סדרות, משחקי מחשב, פרזנטציות,

                        אתרים ועוד, הכל דיגיטאלי, בלחיצת כפתור.
                    </p>
                    <br />
                    <p>איך זה עובד?</p>
                    <br />
                    <ul class="star">
                        <li>
                            מכיוון שכל הרפרטואר מאושר מראש לשימוש, כל שנותר לעשות הוא לסגור את העיסקה איתך. אנחנו יכולים לעשות זאת באופן מיידי, במהלך יום עסקים אחד. אתה יכול לבנות לעצמך את רישיון השימוש דרך המערכת או להתקשר אלינו, צוות פסקול, ולקבל ייעוץ מוזיקאלי ולסגור את העיסקה טלפונית בפחות מיום עסקים אחד.
                        </li>
                        <li>
                            פיתחנו מנוע חיפוש שישמש כלי עבודה מקצועי המאפשר חיפוש יעיל ומדוייק של מוזיקה עבור כל פרוייקט מסחרי. מנוע החיפוש פותח עבור מפיקים, במאים, פרסומאים, מנהלי מותגים, אנשי שיווק, עורכים, חברות, ופרטיים כך שיוכלו למצוא בקלות וביעילות את המוזיקה לפרויקט הבא.  ברגע שנמצאת המוזיקה המתאימה ניתן לקבל את רישיון השימוש, ללא כל עיכוב –סינכרוניזציה בקצב של היום.
                        </li>
                        <li>
                            "מכרז"- יצרנו פלטפורמה שתכליתה לחבר בינך לבין היוצר שילחין מוזיקה מקורית לפי הזמנה, בהתאם לצרכים שלך. אתה יכול, באמצעות המכרז, לפנות לכל היוצרים המחוברים למערכת להציע מוזיקה מקורית לפי הזמנה, בהתאם לצרכים של הפרוייקט שלך. הדרישות של כל פרויקט יפורסמו לזמן מוגבל במערכת פסקול במהלכו יוכלו היוצרים לשלוח סקיצה בהתאם. אתה תבחר, מבין הסקיצות שתקבל, את המוזיקה המתאימה ביותר.
                        </li>.
                    </ul>
                    <br />
                    <strong>
                        אנחנו נשנה את הדרך שבה אתה מחפש, מגלה, נחשף, מכיר, מוצא, עורך, מספק,

                        מתאים, משתמש, ממסחר, מרגיש ונושם מוזיקה
                    </strong>
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <br />
                    <p>
                        <a href="#" data-toggle="modal" data-target="#RegsterModal" ng-click="register.Type = userTypes.Customer">מוכן להתחיל?</a>
                    </p>
                    }
                </div>
                <h4 class="faqheading"><span class="faqnum">3</span>מה עלי לעשות על מנת להצטרף לפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כל שעליך לעשות הוא 
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#RegsterModal" ng-click="register.Type = userTypes.Customer">להרשם למערכת</a>
                    }
                    else
                    {
                        <a> להרשם למערכת </a>
                    }
                    על ידי יצירת שם משתמש וסיסמא
                </div>
                <h4 class="faqheading" id="auction_work_help_buy"><span class="faqnum">4</span>איך עובד תהליך ה"מכרז" למציאת מוזיקה מקורית בפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>
                        פסקול מאפשרת לרוכש תוכן לפתוח מכרז לכל היוצרים המחוברים למערכת להציע מוזיקה מקורית לפי הזמנה, בהתאם לצרכים של כל פרויקט. במכרז יפורטו התנאים הבסיסיים כגון: לוח זמנים לפרויקט, מחיר, מאפיינים של המוזיקה הנדרשת. היוצרים יוכלו לשלוח סקיצה בסיסית של כדקת מוזיקה בהתאם. המפיק יבחר, מבין הסקיצות שיקבל, את המוזיקה המתאימה ביותר.
                    </p>

                    <p>
                        כל התהליך יעבוד על פי לוחות זמנים שייקבעו במכרז הן לגבי מועד הגשת הסקיצה והן לגבי מועד החזרת התשובה מהמפיק.
                    </p>

                    <p><a href="/Customer/OriginalMusic" target="_blank">ליצירת מכרז</a></p>
                </div>
                <h4 class="faqheading"><span class="faqnum">5</span>אני נתקל בבעיה הקשורה במערכת, איך אני יכול לפנות לעזרה?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    בכל נושא ועניין נשמח לעמוד לשירותך, אתה מוזמן ליצור קשר עם צוות שלנו דרך האתר או <a href="/info/contact" target="_blank">בלינק הבא</a>.
                </div>
                <h4 class="faqheading"><span class="faqnum">6</span>עדיין יש לי שאלה שאין עליה תשובה ב"שאלות ותשובות" שפרסמתם , עם מי אני יכול ליצור קשר בפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    אתה מוזמן לפנות בכל שאלה, בקשת עזרה או אפילו סתם כדי לומר שלום או לחוות דעה על המערכת שלנו וזאת באמצעות פנייה לדוא"ל הבא <a href="mailto:@(WebConf.TeamMail)">@(WebConf.TeamMail)</a>
                </div>
            </article>
            <article ng-show="tab === 'אמנים'">
                <h4 class="faqheading"><span class="faqnum">1</span>מה זה פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>פסקול זו הדרך החדשה למסחור מהיר יעיל והוגן של יצירות מוזיקאליות.</p>

                    <p>פסקול מביאה לישראל את האופן שבו מסחור יצירות קורה בעולם.</p>

                    <p>אנחנו הגוף הראשון בישראל שקודם כל פונה ליוצרים ומאשר איתם מראש את תנאי השימוש במוזיקה שלהם. האישור מראש מאפשר שימוש מיידי במוזיקה, און ליין, ללא עיכוב וללא תיווך נוסף. מה שמאפשר לנו להתרכז אך ורק בלמצוא את הפסקול שלך.</p>
                </div>
                <h4 class="faqheading" id="why_passkol_art"><span class="faqnum">2</span>למה ליוצר כדאי לעבוד עם פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>פסקול הוקמה כדי לשנות את צורת העבודה בעולם הסינכרוניזציה בין מוזיקה לבין תוכן מסחרי.</p>
                    <br />
                    <p>איך זה עובד?</p>
                    <br />
                    <p>אנחנו קודם כל מקשיבים למוזיקה שלך אחר כך אנחנו מקבלים ממך אישור לסנכרן אותה לתוכן מסחרי, מעלים אותה למערכת של פסקול וממסחרים לך את המוזיקה.</p>
                    <p>בכל מקרה, תמיד, הזכויות יישארו שלך ותמיד אתה תחליט לאיזה תוכן נסנכרן את המוזיקה שלך. אנחנו לא מבקשים בלעדיות! אם אתה תשיג עסקה ביצירה שלך, שלא דרכנו, אין לנו חלק בזה.</p>
                    <br />
                    <p>מה זה מערכת פסקול?</p>
                    <p>פסקול היא פלטפורמה המחברת בין יוצרים ויצירות לבין מפיקים, במאים, פרסומאים, מנהלי מותגים, אנשי שיווק, עורכים, חברות, ופרטיים. פסקול נותנת רישיון שימוש במוזיקה שלך בלחיצת כפתור.</p>
                    <br />
                    <p>איך אנחנו עושים את זה?</p>
                    <p>בשלוש דרכים:</p>
                    <ul class="star">
                        <li>פסקול נבנתה בכדי לשמש כלי עבודה מקצועי המאפשר חיפוש יעיל ומדוייק של מוזיקה עבור כל פרוייקט מסחרי. החיפוש נעשה באמצעות מנוע חיפוש שבנינו במיוחד המותאם למוזיקה הישראלית ולצרכי השוק המקומי. החיפוש נעשה בתוך רפרטואר מאושר לשימוש, כך שברגע שנמצאת המוזיקה המתאימה ניתן לקבל את רישיון השימוש, ללא כל עיכוב –סינכרוניזציה בקצב של היום.</li>
                        <li>אנחנו נשווק "דרך הרגליים". נגיע למפיקים, במאים, פרסומאים, מנהלי מותגים, אנשי שיווק, עורכים, חברות, ופרטיים ונטמיע אצלם את מערכת פסקול עם המוזיקה שלך.</li>
                        <li>"פסקול קורא"- יצרנו פלטפורמה שתכליתה לחבר בינך לבין המפיק שמחפש את הפסקול המקורי הבא. פסקול קורא פותח מכרז לכל היוצרים המחוברים למערכת להציע מוזיקה מקורית לפי הזמנה, בהתאם לצרכים של כל פרוייקט. הדרישות של כל פרויקט יפורסמו לזמן מוגבל במערכת פסקול ואתה תוכל לשלוח סקיצה בהתאם. המפיק יבחר, מבין הסקיצות שיקבל, את המוזיקה המתאימה ביותר.</li>
                    </ul>
                    <br />
                    <p><strong>אנחנו עובדים בצורה פשוטה, יעילה, שקופה והוגנת, כאשר האינטרס של היוצרים שלנו הוא שמנחה אותנו.  אנחנו כאן כדי שתוכל להמשיך ליצור אמנות, כך שתוכל להרוויח מהמוזיקה שלך.</strong></p>
                    <p><strong style="font-size:35px">אפס סיכון ואינסוף הזדמנויות – כל הסיבות להצטרף אלינו ולהעלות את המוזיקה שלך.</strong></p>
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <a href="#" data-toggle="modal" data-target="#RegsterModal"><strong>מוכן להתחיל?</strong></a>
                    }
                </div>
                <h4 class="faqheading"><span class="faqnum">3</span>כאשר מתבצעת עסקה עם יצירה שלי וניתן רישיון דרך פסקול, איך מתחלקים בתמורה?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>התשלום שיתקבל בפועל עבור השימוש ביצירה (הרישיון) יתחלק 80% / 20% לטובת היוצר.</p>
                    <p>קיים סיכוי טוב ששימושים ביצירה שלך שייסגרו על ידי פסקול, ירחיבו את השידורים/ביצוע פומבי של היצירה ובאופן כללי תגדל החשיפה של הציבור למוזיקה הזו. לכן, בנוסף, עבור עסקה בה התמורה שתשולם בפועל הינה ____ ש"ח ומעלה, אנחנו נרשם כמו"ל השותף ב- 25%  מהיצירה וזאת לתקופה מוגבלת של שנה או שלוש שנים – תלוי בגובה העסקה.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">4</span>האם אני יכול לעבוד במקביל לייצוג היצירות שלי בפסקול עם גופים נוספים בתחום מסחור המוזיקה?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כאשר אנו אומרים בלי מחויבות לבלעדיות, אנחנו מתכוונים לזה. ההסכם שלנו הוא 100% לא בלעדי, כך שאתה חופשי לחקור וליישם כל הזדמנות למסחור המוזיקה שלך. כמובן, שבמידה ואנחנו בעיצומו של משא ומתן לגבי אחת מיצירותך אתה מחויב שלא לסגור את אותה עיסקה מול אותו לקוח ישירות או באמצעות גוף אחר.
                </div>
                <h4 class="faqheading"><span class="faqnum">5</span>האם אני שומר על כל הזכויות במוזיקה שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>כן!</p>
                    <p>בניגוד למקובל בשוק, אנחנו לא מבקשים ממך בלעדיות. גם כאשר אתה מעלה שיר לאתר שלנו , הזכויות בשיר הן עדיין שלך במלואן.</p>
                    <p>גם לאחר מסחור יצירה על ידינו היצירה תשאר שלך, אנחנו מעניקים רק רישיונות שימוש ולא מוכרים יצירות.</p>
                    <p>
                        בעסקאות מסוימות אנחנו נהיה שותפים לזכויות ביצירה וזאת לזמן מוגבל ובאחוז מוגבל, והכל 
                        @if (User.GetUser() != null && User.GetUser().Artist != null)
	                    {
                            <a href="/File/PersonalArtistAgreement?UserId=@(User.Identity.GetUserId())" target="_blank">כמפורט בהסכם</a>
                        }
                        else
                        {
                            <a href="/File/GetArtistContract" target="_blank">כמפורט בהסכם</a>
                        }
                        .
                    </p>
                    <p>כמו כן, יש לקחת בחשבון שרישיונות מסוימים מכתיבים מגבלות מסוימות (למשל: שימוש בשיר עבור פרסומות יכול לדרוש בלעדיות במדיה לתקופה מסוימת). כמובן שבהתאם למגבלות שמצריך הפרויקט תיקבע התמורה.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">6</span>מה עלי לעשות על מנת להצטרף לפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>ההסכם שלנו מופיע באתר, אתה יכול לעיין בו כבר עתה.</li>
                        <li>החתימה על הסכם היוצר הינה חד פעמית. ניתן לבצע עדכונים להסכם (למשל לגבי החרגות של שימושים מסוימים) והוספת יצירות חדשות/נוספות עליהן יחול ההסכם.</li>
                        <li>רק לאחר שאישרת את תנאי ההסכם אתה יכול להעלות את המוזיקה שלך לאתר שלנו.</li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">7</span>מה קורה במידה ויש עסקות רישוי שאני לא רוצה להיות חלק מהן (החרגות)?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>אנחנו שומרים על הזכות המוסרית ביצירותיך ומכבדים את דעותיך.</p>
                    <p>ככל שיש סוג של עסקאות/שירותים/מוצרים/תכנים שאינך רוצה שהמוזיקה שלך תהיה מזוהה איתם או תשולב בסרטון שלהן/פרסומן או כל דבר אחר הנוגע אליהם – כל שעליך לעשות הוא לציין זאת בנספח להסכם ואנו נחריג שימושים אלא מכל רישיון עתידי. ההחרגות שתציין יופיעו באופן בולט גם במערכת פסקול וניתן לעדכן ו/או לשנותן בכל רגע שתרצה.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">8</span>האם אני צריך להודיע ​​לשותפים ביצירה/הקלטה על יצירות שברצוני להעלות לפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>כן, עליך ליידע את כל בעלי הזכויות ביצירה (מילים, לחן, מו"ל) ובהקלטה ולקבל מהם אישורים בכתב לחתימה על ההסכם עם פסקול {לינק לייפוי כוח ליוצר}. יצירות תכללנה ברפרטואר של פסקול אך ורק אם יגיעו אלינו כל האישורים הנדרשים בכתב.  עניין זה הינו מהותי לתפקוד המערכת וייבדק על ידינו בקפידה יתרה.</p>
                    <p>
                        בהסכם בנינו אתה מצהיר כי יש בידיך את כל הזכויות להעלות את היצירות וההקלטות שאתה בוחר לאתר שלנו ולחתום על ההסכם. אם אין בידיך את כל הזכויות או שלא קיבלת את האישורים הנדרשים מיוצרים שותפים או כל בעל זכות אחרת,
                        <strong>אל תעלה את המוזיקה הזו לאתר שלנו עד שתשיג את כל הזכויות והאישורים הנדרשים.</strong>
                        נשמח לעזור לך להשיג את האישורים.
                    </p>
                </div>
                <h4 class="faqheading"><span class="faqnum">9</span>שלחתי הסכם יוצר חתום – מה עכשיו?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>מערכת פסקול תשלח אליך באופן מידי אישור בדוא"ל על קבלת ההסכם. בגוף הדוא"ל תקבל את פרטי המשתמש החדשים שלך המאפשרים לך להתחבר בכניסת יוצר ולהתחיל לבנות את הפרופיל שלך במערכת.</li>
                        <li>לשם בניית הפרופיל שלך תתבקש להעלות תמונה וביוגרפיה קצרה. בשלב זה כל המידע שתעלה הוא במצב "אוף ליין". הפרופיל שלך לא ייחשף באתר עד לתום הליך אישור התכנים שתעלה.</li>
                        <li>בשלב הבא אתה מתבקש להעלות את המוזיקה הרלוונטית לאתר. גם תכנים אלה יהיו במצב "אוף ליין" עד לאישורם על ידי המערכת.</li>
                        <li>הליך אישור ממוצע של התכנים הינו כ- 14 ימי עסקים, הדבר תלוי כמובן בהיקף התכנים שתעלה.</li>
                    </ul>
                    <p>לאחר שהעלית מוזיקה לפרופיל שלך מתחיל התהליך הבא:</p>
                    <ol>
                        <li>בדיקת הזכויות במוזיקה, על מנת לוודא אפשרות מסחור  ושימוש ביצירה ו/או בהקלטה; נושא זה הינו בעל חשיבות עליונה לתפקוד המערכת ולכן אנו מקפידים עליו מאוד. שים לב כי יצירה שאין לגביה את כל האישורים הנדרשים לא תיכלל ברפרטואר של פסקול;</li>
                        <li>צוות מקצועי שלנו יאזין למוזיקה,  יוודא שהיא מתאימה לשימוש מסחרי ולאחר מכן יאפיין אותה ויתייג אותה.  אנחנו רוצים להבטיח שכל היוצרים שנכנסו לקטלוג שלנו הם באיכות גבוהה והם יוצרים שאנחנו מרגישים בביטחון שאנחנו יכולים למסחר את המוזיקה שלהם.</li>
                    </ol>
                    <br />
                    <p>ברגע שהתהליך הזה מסתיים המוזיקה נכנסת לקטלוג פסקול ומוצעת לשימוש לקוחותינו השונים.  צוות הייעוץ המקצועי שלנו יחד עם מנוע החיפוש מאפשרים ללקוחותינו לאתר את המוזיקה הנכונה והמתאימה ביותר למטרותיהם באופן יעיל, מקצועי מהיר ומדויק.</p>
                    <p><strong>המוזיקה שלך הופכת נגישה למיטב החברות הרלוונטיות בלחיצת כפתור.</strong></p>
                </div>
                <h4 class="faqheading"><span class="faqnum">10</span>רגע לפני שאתה מעלה הקלטה ו/או יצירה  לפסקול יש לוודא כי:<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>יש לך אישורים מבעלי הזכויות ביצירה ו/או בהקלטה.</li>
                        <li>התייחסת לנושא ההחרגות.</li>
                        <li>צורפו מלים (ככל שרלוונטי).</li>
                        <li>צורפו ערוץ פלייבק + ערוץ שירה וכן הקלטה מלאה (פלייבק+ שירה).</li>
                        <li>פירטת מה היו השימושים המסחריים הקודמים ביצירה, במידה והיו.</li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">11</span>האם אני יכול להסיר מוזיקה שהעליתי לאתר?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כן. אתה יכול לבקש להסיר שיר/מוזיקה מהאתר (דרך פרופיל היוצר שלך ....לפרט) ובקשתך תתקיים תוך 30 יום. חשוב לציין כי היצירה תוסר אולם הסרת היצירה לא תפגע בכל משא ומתן שכבר החל ו או כל עיסקה שנסגרה ועדין לא התקיימה. וזאת על מנת שלא לפגוע בעסקאות שכבר החלו בטרם מועד בקשת ההסרה.
                </div>
                <h4 class="faqheading"><span class="faqnum">12</span>אני מייצג כמה יוצרים , האם יש דרך לנהל מספר פרופילים דרך חשבון אחד?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כן, במידה ותזדקק צוות פסקול ייצור לך מנוי מותאם לניהול מספר יוצרים. לינק לרישום סוכן/מנהל
                </div>
                <h4 class="faqheading"><span class="faqnum">13</span>האם פסקול דורשים קודי ISRC על מנת להירשם?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    לא, אנחנו לא.
                </div>
                <h4 class="faqheading"><span class="faqnum">14</span>האם אני צריך להיות חבר באגודה קולקטיבית (אקו"ם או אחרת בחו"ל) על מנת להצטרף לפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>אתה בהחלט לא חייב  להיות חבר באקו"ם או בכל אגודה אחרת <u>כדי להצטרף</u>. יחד עם זאת, אנו ממליצים לך להירשם לאגודה כזו.</li>
                        <li>הסיבה להמלצה הינה האפשרות למקסם את ההכנסות שלך מיצירה מסוימת.</li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">15</span>העלתי את המוזיקה שלי , מה עכשיו?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>ברגע שיוצר יוצר פרופיל באתר שלנו, הוא מעלה תמונה, ביוגרפיה קצרה ומוזיקה. במידה והמוזיקה כוללת גם שירה (בנוסף לנגינה), אתה מתבקש, ככל הניתן, להעלות את המוזיקה הן כהקלטה מלאה ושלמה (שירה + נגינה של כל הכלים);  וכן הקלטת שירה בנפרד והקלטת ליווי הכלים בנפרד.</p>
                    <p>לאחר שהעלית מוזיקה לפרופיל שלך מתחיל התהליך  הבא: (1) בדיקת הזכויות במוזיקה, (2) צוות מקצועי שלנו יאזין למוזיקה,  יוודא שהיא מתאימה לשימוש מסחרי ולאחר מכן יתייג אותה (למשל: האווירה שהמוזיקה נותנת, הכלים, ז'אנר ועוד).</p>
                    <p>
                        ברגע שהתהליך הזה מסתיים המוזיקה נכנסת לקטלוג פסקול ומוצעת לשימוש לקוחותינו השונים.
                        צוות הייעוץ המקצועי שלנו יחד עם מנוע החיפוש שלנו מאפשרים ללקוחותינו לאתר את המוזיקה הנכונה והמתאימה ביותר למטרותיהם באופן יעיל, מקצועי מהיר ומדויק. המוזיקה שלך הופכת נגישה למיטב החברות הרלוונטיות בלחיצת כפתור.
                    </p>
                </div>
                <h4 class="faqheading"><span class="faqnum">16</span>מה תקופת ההסכם הלא בלעדי של פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    ההסכם בתוקף כל עוד תרצה בכך . אתה יכול לצאת מההסכם בכל רגע נתון , על ידי משלוח בקשת סיום. תוך 30 יום משליחת בקשת סיום ההסכם הפרופיל שלך ייסגר והמוזיקה שלך תוסר מהאתר.
                </div>
                <h4 class="faqheading"><span class="faqnum">17</span>האם יש לי את היכולת לאשר את כל העסקאות במוזיקה שלי,  לפני סגירתן?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>הרעיון בפסקול הוא רפרטואר מאושר לשימוש מראש ועל ידי כך מתן מענה מהיר ויעיל ללקוחות המשתמשים במוזיקה. פנייה ליוצר בכל עסקה לא תאפשר זאת ותשאיר את השיטה המסובכת והלא יעילה הקיימת כיום . לפיכך, לא תהיה לך את היכולת לבחון כל עסקה אפשרית במוזיקה שלך.</p>
                    <ul class="star">
                        <li>פסקול שואפת  להשיג את התנאים הטובים ביותר ולמקסם את ההכנסות מהיצירה שלך, בהתחשב בנסיבות כל מקרה וכמקובל בשוק.</li>
                        <li>בנוסף,  ההסכם מאפשר לך להחריג מראש שימושים מסוימים במוזיקה שלך, כגון: עבור מוצרים/שירותים מסוימים או פלטפורמות שימוש מסוימות (כגון משחקי מחשב) או מטרות כלשהן שאינך רוצה להיות מזוהה איתן (למשל: דת, פוליטיקה, אלכוהול, טבק), כך שנשמרת הזכות המוסרית שלך. אתה תראה אפשרויות החרגה אלה גם בעת יצירת הפרופיל שלך והעלאת המוזיקה לאתר.</li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">18</span>באיזה דרכים פסקול יכולה לקדם את מסחור המוזיקה שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ul class="star">
                        <li>פסקול מבצעת שיווק אקטיבי של הרפרטואר בקרב משרדי פרסום, מפיקים/חברות הפקה, במאים, חברות מסחריות רבות ועוד. אנחנו נתאמץ למצוא את הפסקול שלך.</li>
                        <li>מנוע החיפוש שפיתחנו נבנה באופן ייעודי עבור צרכני מוזיקה מסחריים. הרעיון שעומד מאחוריו הוא לאפשר איתור ממוקד, מדויק, מהיר ויעיל למגוון אינסופי של צרכים.</li>
                        <li>באמצעות מערכת פסקול, היצירות שלך נחשפות לקהל משתמשים מקצועי המחפש תוכן מוזיקאלי.</li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">19</span>כשאני מעלה את המוזיקה שלי, האם היא זמינה באופן מידי למסחור?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כשאתה "מעלה" את היצירות/הקלטות צוות פסקול מקבל אותן, מתייג אותן (כך שיעלו באופן מדויק במנוע החיפוש) ומוודא את כל האישורים הנדרשים לשימוש בהן. עם סיום התהליך הנ"ל היצירות וההקלטות הופכות זמינות ברפרטואר פסקול.
                </div>
                <h4 class="faqheading"><span class="faqnum">20</span>איזה טפסים עלי להגיש לפסקול על מנת להסדיר את תשלום המסים עבור הכנסות שתעבירו לי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>מדובר באותם טפסים הנדרשים בכל מקרה של מתן שירות כעצמאי:</p>
                    <ul class="star">
                        <li>אישור על ניהול פנקסים;</li>
                        <li>אישור על ניכוי מס במקור;</li>
                        <li>תעודת עוסק מורשה/פטור או כל תעודה רלוונטית אחרת;</li>
                        <li>כל תשלום יועבר מאתנו תוך 14 ימי עסקים מקבלתו בפועל אצלנו,  כנגד חשבונית מס כדין.</li>
                    </ul>
                </div>
                <h4 class="faqheading"><span class="faqnum">20</span>איך פסקול מעבירה לי את חלקי בהכנסות?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">

                </div>
                <h4 class="faqheading"><span class="faqnum">21</span>האם אני מקבל תמלוגים?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כן, ככל שהשימושים במוזיקה מניבים תמלוגים אתה תקבל תמלוגים מהאגודה הקולקטיבית הרלוונטית (בארץ אקו"ם). כמובן שתנאי מקדים לכך הוא שהנך רשום כחבר באגודה קולקטיבית כאמור.
                </div>
                <h4 class="faqheading"><span class="faqnum">22</span>כאשר מתבצעת דרך פסקול עסקה, מתי אקבל את חלקי בתשלום?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>כחלק מהמדיניות שלנו המקדמת שקיפות והוגנות, אנו מקדמים מוסר תשלומים מהיר. כך, אתה תקבל את חלקך כמעט מיד לאחר שהכסף יגיע אלינו.</p>
                    <p>אתה תקבל את חלקך בתשלום עבור הרישיון תוך 14 ימי עסקים מקבלת הכסף בפועל אצל פסקול. זאת בכפוף לקבלת חשבונית מס כדין.</p>
                    <p>תמלוגים הנאספים על ידי אגודות קולקטיביות (בארץ אקו"ם) יחולקו לך ישירות לפי מועדי החלוקה של האגודה הרלוונטית ותנאיה.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">23</span>איך אני יכול לעדכן את פרטיי (למשל: שם הלהקה , תמונה, פרטי תשלום, ביוגרפיה, יצירת קשר ועוד) ולערוך את הפרופיל שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כל מידע שהזנת למערכת אודותיך/המוזיקה שהעלית מיד מופיע במערכת. לשם עדכון פרטים אנא כנס ללינק הבא ופעל בהתאם להוראות [-----]
                </div>
                <h4 class="faqheading"><span class="faqnum">24</span>כאשר אני מעלה שירים איך אני יכול לתייג אותם לפי ז'אנר/אווירה/מקצב וכו'?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    בעת העלאת היצירה תוכל לתייג את יצירותיך בחלון הנמצא תחת הכותרת "תיוגים".צריך לבדוק איך זה קורה בועל לאחר התיכנות ולהשלים
                </div>
                <h4 class="faqheading"><span class="faqnum">25</span>איך אוכל לשנות את הסיסמה שלי או שם המשתמש?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כדי לשנות את פרטי הכניסה שלך למערכת, עלייך  להיכנס לחשבון שלך וללחוץ  על  "החשבון שלי" בפינה הימנית העליונה של הדף, ואתה תראה שם אפשרות לשינוי שם משתמש או סיסמה.
                </div>
                <h4 class="faqheading"><span class="faqnum">26</span>כיצד אני יכול להוסיף / להסיר החרגות לגבי שימוש במוזיקה שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">

                </div>
                <h4 class="faqheading"><span class="faqnum">27</span>איך אפשר להעלות מוסיקה לפרופיל שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">

                </div>
                <h4 class="faqheading"><span class="faqnum">28</span>העליתי קטעי מוזיקה לחשבון שלי בפסקול אך הם לא מופיעים בתוצאות החיפוש. מה עלי לעשות?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>מצב כזה ייתכן רק במקרים הבאים:</p>
                    <ul class="star">
                        <li>היצירות עדיין בתהליך של בדיקות ואישורים.</li>
                        <li>היצירה לא קיבלה אישור.</li>
                        <li>היצירה לא נמצאה מתאימה לרפרטואר פסקול.</li>
                    </ul>
                    <p>בשני המקרים האחרונים אנו נדאג לעדכן אותך</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">29</span>איך אני מוחק את הפרופיל שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כשאתה מוחק את הפרופיל המשמעות היא סיום ההסכם עם פסקול. אתה יכול לצאת מההסכם בכל רגע נתון, על ידי משלוח בקשת סיום. תוך 30 יום משליחת בקשת סיום ההסכם הפרופיל שלך ייסגר והמוזיקה שלך תוסר מהאתר – זאת במידה ואין עסקאות בתוקף או משא ומתן לגבי עסקאות בנוגע ליצירות שלך.
                </div>
                <h4 class="faqheading"><span class="faqnum">30</span>כיצד ניתן למחוק או להסיר שיר?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    למחוק או להסיר שירים עלייך להיכנס לדף הפרופיל שלך, וללחוץ על כפתור___ מימין לשם השיר אותו אתה רוצה להסיר. מצד שמאל בחר "בקשת הסרה". ואז עבור לדף השני ושם בתחתית בחר "אנא הסר שיר זה" – לחץ על כפתור זה, מלא את הסיבה לבקשתך ולחץ "שמור".  השיר יוסר מהקטלוג שלנו בתוך 30 ימים.
                </div>
                <h4 class="faqheading"><span class="faqnum">31</span>במידה והשתמשתי ביצירות שלי באפקטים או קטעי מוזיקה (sample) מספריות מוזיקה, איך לציין זאת במערכת?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כל עוד שהמוזיקה אכן נקייה מזכויות כלשהן ושילמת עבורה את מלוא התמורה – תוכל לשלב אותה במוזיקה שאתה מעלה לאתר פסקול.
                </div>
                <h4 class="faqheading"><span class="faqnum">32</span>כיצד אני יכול לשפר את הסיכויים שלי למסחור המוזיקה שלי באמצעות פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <ol>
                        <li>לעשות מוסיקה יוצאת מן הכלל.</li>
                        <li>ודא שאתה מעלה גרסאות אינסטרומנטליות של השירים שהעלית.</li>
                        <li>בעת העלאת שירים למערכת אנא הוסף את מלות השירים.</li>
                        <li>מותגים רוצים להיות קשורים לכוכבים עולים. אם אתה יוצר מופיע, קיבלת ביקורות ונוצר סביבך באז זה יכול להשפיע מאוד לטובה על סיכוייך לעסקאות עתידיות במוזיקה שלך. עדכן את פרופיל היוצר שלך  בכל מידע רלוונטי לבניית אותו "באזז".</li>
                    </ol>
                </div>
                <h4 class="faqheading"><span class="faqnum">33</span>אני לא ממש בטוח לגבי המידע שהעלית בנוגע לזכויות ביצירות והאגודה הקולקטיבית (אקו"ם), האם  הכרחי שאעביר לכם מידע מדויק?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>במלה אחת: כן!</p>
                    <p>במאמץ לספק את השירות הטוב ביותר ללקוחות שלנו , אנו מחויבים לתת רישיונות "נקיים" מבחינת הזכויות.  הצוות המקצועי שלנו בודק היטב ולעומק את המידע שכל יוצר מעביר ואת מצב הזכויות בכל יצירה/הקלטה שהיוצר מעלה. אם מתגלה אי התאמה או שהמידע שנתן היוצר איננו נכון, סביר להניח שהיוצר יידחה ולא יוכל להיות חבר במערכת שלנו.  לכן, אנא וודא שיש בידיך את שמות כל בעלי הזכויות ביצירה (יוצרים ומו"לים) וציין אותם בפנינו, וודא שאין מצב של בלעדיות שכבר נתנה לגוף כלשהו לגבי היצירות שאתה מעלה לפסקול או כל הגבלה רלוונטית אחרת אשר אינה מאפשרת את חתימתך על ההסכם.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">34</span>עד כמה משמעותי שאעלה גרסות אינסטרומנטליות של המוזיקה שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    חשוב מאוד שתהיינה לפסקול גרסות אינסטרומנטליות של השירים שלך. לפעמים על זה תקום או תיפול עסקה. הגרסאות האלה מאפשרות ללקוחות שלנו לוותר על השירה (כולה או חלקה) בזמן עריכת המוזיקה שלך למדיה ויזואלית. ישנם לקוחות שלא יבחרו שירים לפרויקט שלהם בלי גרסא אינסטרומנטלית הזמינה להם באופן מיידי.
                </div>
                <h4 class="faqheading"><span class="faqnum">35</span>האם כדאי להעלות גרסאות מלאות של השירים שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כן, כדאי להעלות גרסאות מלאות של השירים. הלקוח יערוך את השירים לאורך הרצוי. זה בהחלט יגדיל את פוטנציאל המכירה של היצירה שלך. חשוב לציין כי מערכת פסקול מאפשרת האזנה של כ30 שניות מכל יצירה.
                </div>
                <h4 class="faqheading"><span class="faqnum">36</span>האם אני צריך לרשום גם יוצרים שאינם חברי אגודה קולקטיבית (אקו"ם)?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    בהחלט כן. וודא שכל היוצרים והמו"לים רשומים באופן מדויק, אם הרישום יהיה חסר או לא מדויק כנראה שהמוזיקה שלך לא תתקבל למערכת  (ואנחנו נעדכן אותך בנושא).
                </div>
                <h4 class="faqheading"><span class="faqnum">37</span>מדוע חשוב לצרף את המלים של השירים וכיצד להוסיף אותם למערכת פסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    לקוחות יכולים לחפש במאגר הנתונים שלנו על ידי ציון התמה המרכזית של השיר או מלות מפתח. כך, למשל, אם לקוח צריך שיר שאחת המלים המרכזיות בו היא "אמא", המערכת שלנו יכולה למצוא לו את כל השירים הרלוונטיים. הוספת המלים של השירים למערכת היא פשוטה מאוד ואתה יכול לעשות זאת דרך הפרופיל שלך.
                </div>
                <h4 class="faqheading"><span class="faqnum">38</span>האם פסקול מודיעה לי על כל עסקה לגביה מוצעת המוזיקה שלי?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    לא. כל המוזיקה שמוצעת לפרויקט צריכה להיות מאושרת מראש לשימוש (pre cleared) ומוכנה לשימוש מידי.  אנחנו מאפשרים ללקוחותינו לחפש, לבחור ולרכוש מתוך הרפרטואר שלנו בעצמם ובאופן מידי. לכן אנחנו לא יכולים ליידע את היוצר על כל שיר שמוצע או מוגש כאפשרות לשימוש בפרויקט.  כמובן שניידע אותך על כל עסקה שנסגרה.
                </div>
                <h4 class="faqheading"><span class="faqnum">39</span>כמה זמן בדרך כלל לוקח ליוצר כדי לקבל את העסקה הראשונה במוזיקה שלו?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    אם רק היינו יודעים את התשובה לשאלה הזו...התשובה לשאלה משתנה ממקרה למקרה. בסופו של דבר זה תלוי בהעלאת השיר הנכון בתזמון הנכון ללקוח הנכון.
                </div>
                <h4 class="faqheading" id="auction_work_help_art"><span class="faqnum">40</span>איך עובד תהליך הגשת המוזיקה ל"מכרז" המפורסם בפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    <p>פסקול מאפשרת לרוכש תוכן לפתוח מכרז לכל היוצרים המחוברים למערכת להציע מוזיקה מקורית לפי הזמנה, בהתאם לצרכים של כל פרוייקט. במכרז יפורטו התנאים הבסיסיים כגון: לוח זמנים לפרוייקט, מחיר, מאפיינים של המוזיקה הנדרשת. היוצרים יוכלו לשלוח סקיצה בסיסית של כדקת מוזיקה בהתאם. המפיק יבחר, מבין הסקיצות שיקבל, את המוזיקה המתאימה ביותר.</p>
                    <p>כל התהליך יעבוד על פי לוחות זמנים שייקבעו במכרז הן לגבי מועד הגשת הסקיצה והן לגבי מועד החזרת התשובה מהמפיק.</p>
                </div>
                <h4 class="faqheading"><span class="faqnum">41</span>אם אני רוצה להשתתף במכרזים ליצירת מוזיקה מקורית  מה עליי לעשות?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    בזמן יצירת הפרופיל עליך לסמן בחלון הנמצא תחת הכותרת " אני מעוניין ליצור מוזיקה מקורית".
                </div>
                <h4 class="faqheading"><span class="faqnum">42</span>הגשתי שיר למכרז, אבל לא קיבלתי אישור במייל - האם קיבלתם את זה?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    אם לא קיבלת מאתנו אישור בדוא"ל שהשיר הוגש בהצלחה, יש דרך נוספת לוודא את הגשתו. כנס לפרופיל היוצר שלך ובחר "הגשות למכרז " מהתפריט בצד ימין. שם תופיע רשימה של כל ההגשות שבצעת למכרזים. אם ההגשה למכרז ספציפי זה מופיעה ברשימה – ההליך הושלם!
                </div>
                <h4 class="faqheading"><span class="faqnum">43</span>החמצתי את המועד להגשה למכרז, אבל יש לי את השיר המושלם לפרויקט. איך אני יכול בכל זאת להגיש את השיר?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    ברגע שעבר הדד-ליין רשימת השירים/מוזיקה הסופית נשלחת ללקוח. לפעמים הלקוח מבקש להאזין לעוד מקבץ של שירים – במקרה כזה אנחנו נפרסם שוב את המכרז ותוכל להגיש את השיר שלך.
                </div>
                <h4 class="faqheading"><span class="faqnum">44</span>איך אני יודע אם הגשתי את השיר שלי כנדרש וכהלכה למכרז כלשהו?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    כדי לוודא שהגשת כראוי ושההליך הסתיים והתקבל במערכת של פסקול, כל שעליך לעשות הוא ללחוץ על "הגשות למכרז" בפרופיל שלך. אם השיר מופיע שם ברשימת ההגשות, התהליך עבור בהצלחה!
                </div>
                <h4 class="faqheading"><span class="faqnum">45</span>אני נתקל בבעיה הקשורה במערכת, איך אני יכול לפנות לעזרה?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    בכל נושא ועניין נשמח לעמוד לשירותך, אתה מוזמן ליצור קשר עם צוות שלנו דרך האתר או<a href="/Info/Contact" target="_blank"> בלינק הבא</a>.
                </div>
                <h4 class="faqheading"><span class="faqnum">46</span>עדיין יש לי שאלה שאין עליה תשובה ב"שאלות ותשובות" שפרסמתם , עם מי אני יכול ליצור קשר בפסקול?<span class="fa fa-chevron-up faqopen"></span></h4>
                <div class="collapseme">
                    אתה מוזמן לפנות בכל שאלה, בקשת עזרה או אפילו סתם כדי לומר שלום או לחוות דעה על המערכת שלנו וזאת באמצעות פנייה לדוא"ל הבא:<a href="mailto:@(WebConf.TeamMail)" target="_blank">@(WebConf.TeamMail)</a> .
                </div>
            </article>
        </div>
    </div>
</faq>