
@{
    ViewBag.Title = "יצירת מוזיקה מקורית";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-original-music">
    <div class="innersearch">
        <h1 class="morepadding">יצירת מוזיקה מקורית</h1>
    </div>
</div>
<div class="container-fluid .container-original-music">
    <div class="innercontent">
        <ol class="breadcrumb">
            <li><a href="/">עמוד הבית</a></li>
            <li class="active">יצירת מוזיקה מקורית</li>
        </ol>
        <div class="subtitle">
            <p>מערכת פסקול היא פלטפורמה שתכליתה לחבר בין יוצר לבין רוכש תוכן שמחפש שייצרו עבורו מוזיקה מקורית לפי הזמנה, באמצעות מנוע החיפוש או באמצעות מכרז.</p>
            <p>פסקול מאפשרת לרוכש תוכן לפתוח מכרז לכל היוצרים המחוברים למערכת להציע מוזיקה מקורית לפי הזמנה, בהתאם לצרכים של כל פרוייקט. היוצרים יוכלו לשלוח סקיצה בהתאם, והמפיק יבחר, מבין הסקיצות שיקבל, את המוזיקה המתאימה ביותר.</p>
        </div>
        <div class="row steps">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img src="~/Content/images/snowflake.jpg" />
                <p>רוכש תוכן מחפש יוצר לייצור מוזיקה מקורית לפי הזמנה</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/TemplatesContent/images/steparrow.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="~/Content/images/binoculars.jpg"/>
                <p>מציאת היוצר המתאים באמצעות מנוע החיפוש או באמצעות פלטפורמת המכרז</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/TemplatesContent/images/steparrow.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="~/Content/images/Handshake.jpg" />
                <p style="margin-top:0px;">לאחר שרוכש התוכן בחר את יוצר המויקה המקורית פסקול סוגרת את העסקה</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <img alt="" src="~/TemplatesContent/images/steparrow.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img alt="" src="~/Content/images/LightOn.jpg" />
                <p style="margin-top:0px;">נוצרה המוזיקה המתאימה לפרוייקט</p>
            </div>
        </div>

        <div class="row uploadoptions">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="artistlink">
                    רוצה ליצור מוזיקה מקורית עבור רוכש התוכן? <a href="/Info/faq#/auction_work_help_art?tab=אמנים">הקלק</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="artistlink">
                    רוצה שיצרו עבורך מוזיקה מקורית? <a href="/Info/faq#/auction_work_help_buy?tab=%D7%A8%D7%95%D7%9B%D7%A9%D7%99%20%D7%9E%D7%93%D7%99%D7%94">הקלק</a>
                </div>
            </div>
        </div>
    </div>
</div>